/**
* Tranquil-UI, components
*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

h4, h5, h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

form fieldset legend {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin-bottom: 0.5em;
  padding-bottom: 8px;
}

form fieldset#pageContent {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  form fieldset#pageContent {
    float: left;
    width: 65%;
  }
}

form fieldset#pageSettings, form fieldset#pageMeta {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  form fieldset#pageSettings, form fieldset#pageMeta {
    float: right;
    width: 30%;
  }
}

/**
* Forms
*/
input[type=text],
input[type=textarea],
input[type=password] {
  overflow: visible;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: 0;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  font-family: inherit;
  line-height: inherit;
  background-image: none;
  transition: all .2s ease-in-out;
  font-family: 'Lato', sans-serif;
  padding: 0em 0.5em;
}

input[type=text]:focus,
input[type=textarea]:focus,
input[type=password]:focus {
  height: 32px;
  border-color: rgba(0, 0, 0, 0.87);
  border-width: 2px;
}

label {
  margin-top: 0.5em;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default !important;
  font-family: 'Lato', sans-serif;
}

button {
  background-color: transparent;
  color: #000;
  font-weight: 500;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px !important;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  letter-spacing: .03em;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

button:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

button:focus {
  outline: 0;
}

button.ripple {
  background-position: center;
  transition: background 0.8s;
}

button.ripple:hover {
  background: #cccccc radial-gradient(circle, transparent 1%, #cccccc 1%) center/15000%;
}

button.ripple:active {
  background-color: #cccccc;
  background-size: 100%;
  transition: background 0s;
}

button.small {
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px;
  font-size: 13px;
}

button.small:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

button.large {
  height: 54px;
  line-height: 54px;
  padding: 0 26px;
  font-size: 14px;
}

button.large:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

button.raised {
  background-color: transparent;
  color: #000;
  font-weight: 500;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px !important;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  letter-spacing: .03em;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Lato', sans-serif;
}

button.raised:hover {
  background-color: #f2f2f2;
}

button.raised.small {
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px;
  font-size: 13px;
}

button.raised.small:hover {
  background-color: #f2f2f2;
}

button.raised.large {
  height: 54px;
  line-height: 54px;
  padding: 0 26px;
  font-size: 14px;
}

button.raised.large:hover {
  background-color: #f2f2f2;
}

.centerHor {
  left: 50%;
  transform: translate(-50%, 0%);
}

select {
  background-color: transparent;
  color: #000;
  font-weight: 500;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px !important;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  letter-spacing: .03em;
  position: relative;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  transition: all .2s ease-in-out;
}

select:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.87);
  border-width: 2px;
}

/**
* Panels and stuffz
*/
.panel {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table thead tr th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-weight: 700;
  text-align: left;
  padding: 10px;
  line-height: 1.429;
  font-family: 'Lato', sans-serif;
}

table tbody tr {
  transition: all ease-in-out 0.5s;
}

table tbody tr:hover {
  background-color: #e6e6e6;
  transition: all ease-in-out 0.5s;
}

table tbody tr td {
  padding: 10px;
  line-height: 1.429;
  font-family: 'Lato', sans-serif;
}

table tbody tr td a {
  padding: 0 0.5em;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-weight: 400;
}

#snackbar.info {
  background-color: #333;
}

#snackbar.warning {
  background-color: #ffe65c;
  color: #000;
}

#snackbar.error {
  background-color: red;
}

#snackbar.success {
  background-color: #4dc92e;
  color: #000;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.12);
}

.modal.show {
  display: block;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.modal.hide {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 2px;
  width: 80%;
}

.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
